
<footer class="page-footer teal">
    <div style="padding-right: 12px;"><a class="btn-floating btn-large waves-effect waves-light white black-text darken-text-4 right" href="#">Back</a></div>
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About Us</h5>
                <p class="grey-text text-lighten-4">I am a undergraduate student working on this project like it's my full time job. The project demonstrates my ability to: design, engineer and evaluate quality systems.</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Quike Links</h5>
                <ul>
                    <li><a class="white-text" href="/">Home</a></li>
                    <li><a class="white-text" href="/user-center">My Arduino</a></li>
                    <li><a class="white-text" href="/dashboard">User Center</a></li>
                    <li><a class="white-text" href="/product">Products</a></li>
                    <li><a class="white-text" href="/help">FAQs</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Admin</h5>
                <ul>
                    <li><a class="white-text" href="/create-product">Create Product</a></li>
                    <li><a class="white-text" href="/all-products">Manage Products</a></li>
                </ul>
            </div>
        </div>
    </div>
	
	
	<div class="footer-copyright">
		<div class="container">
		Made by <a class="brown-text text-lighten-3" href="https://cestbon258.github.io">Angelo</a>
        &copy;<span id="year"></span>
        </div>
    </div>
    
</footer>
<script>
	document.getElementById("year").innerHTML = new Date().getFullYear();
</script>

<style>
    html {
      scroll-behavior: smooth;
    }

    .img-opacity {
        opacity: 0.6 !important; 
        filter: alpha(opacity=60)
    }
</style>

<!--  Scripts-->

<script>AOS.init();</script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
