<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<body>
    <% include ../partials/nav %>
    <div class="container right-align"><div id="MyClockDisplay" class="clock" onload="showTime()"></div></div><br>

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#test1">Test 1</a></li>
                <li class="tab col s3"><a href="#test2">Test 2</a></li>
                <li class="tab col s3"><a href="#test3">Test 3</a></li>
                <li class="tab col s3"><a href="#test4">Test 4</a></li>
            </ul>
        </div>
        <div id="test1" class="col s12">
            
        </div>
        <div id="test2" class="col s12">Test 2</div>
        <div id="test3" class="col s12">Test 3</div>
        <div id="test4" class="col s12">Test 4</div>
    </div>



    <% include ../partials/footer %>
    


    <style>
        .clock {
            /* position: absolute; */
            /* right: 6%; */
            /* transform: translateX(-50%) translateY(-50%); */
            color: rgb(8, 8, 8);
            font-size: 16px;
            font-size: 4vw;
            letter-spacing: 2px;
        }
    </style>
   
    <script>
         $(document).ready(function(){

            // clock
            function showTime(){
                var date = new Date();
                var h = date.getHours(); // 0 - 23
                var m = date.getMinutes(); // 0 - 59
                var s = date.getSeconds(); // 0 - 59
                var session = "AM";
                
                if(h == 0){
                    h = 12;
                }
                
                if(h > 12){
                    h = h - 12;
                    session = "PM";
                }
                
                h = (h < 10) ? "0" + h : h;
                m = (m < 10) ? "0" + m : m;
                s = (s < 10) ? "0" + s : s;
                
                var time = h + ":" + m + ":" + s + " " + session;
                document.getElementById("MyClockDisplay").innerText = time;
                document.getElementById("MyClockDisplay").textContent = time;
                
                setTimeout(showTime, 1000);
                
            }

            showTime();

            // tabs
            $('.tabs').tabs();


            function pollData() {
                $.ajax({
                    url:'/poll-chart-data',
                    type:'get',
                    // dataType : "json",
                    success:function(result){
                        var data = result;
                        for (var key in data) {
                            humiData = data['results'][0]['mois'];
                        } 
                        console.log("polling ...");
                    },
                    error:function(err){
                        console.log(err);
                    }
                });

            }

            // pollData();
            setInterval(function(){ pollData(); }, 3000);

         
        });
    </script>

</body>
</html>
