<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<body>
    <% include ../partials/nav %>



    <div>
            <p><%= results[0].password %></p>
    </div>


    <!--  chart  -->
    <div id="chart"></div>


    <% include ../partials/footer %>

    <style>
        #chart {
            max-width: 650px;
            margin: 35px auto;
        }
    </style>
    <script>
        var options = {
            chart: {
            type: 'bar'
            },
            series: [{
            name: 'sales',
            data: [30,40,45,50,49,60,70,91,125]
            }],
            xaxis: {
            categories: [1991,1992,1993,1994,1995,1996,1997, 1998,1999]
            }
        }

        var chart = new ApexCharts(document.querySelector("#chart"), options);

        chart.render();
    </script>
</body>
</html>
