
<% include ../partials/head %>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body class="grey lighten-3">
    <% include ../partials/nav %>
    <div class="container"><% include ../partials/dashboard_sidebar %></div>
    <div class="container right-align"><div id="MyClockDisplay" class="clock" onload="showTime()"></div></div><br>

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s4"><a href="#test1">MOISTURE</a></li>
                <li class="tab col s4"><a href="#test2">HUMIDITY</a></li>
                <li class="tab col s4"><a href="#test3">TEMPERATURE</a></li>
                <!-- <li class="tab col s3"><a href="#test4">CHARTS</a></li> -->
            </ul>
        </div>
        <div id="test1" class="col s12">           
            <!--  chart  -->
            <div id="chart"></div>
        </div>
        <div id="test2" class="col s12">
            <div id="humidityChart"></div>
        </div>
        <div id="test3" class="col s12">
            <div id="temperatureChart"></div>
        </div>
        <!-- <div id="test4" class="col s12">Test 4</div> -->
    </div>



    <% include ../partials/footer %>
    


    <style>
        #chart {
            max-width: 650px;
            margin: 35px auto;
        }

        .clock {
            /* position: absolute; */
            /* right: 6%; */
            /* transform: translateX(-50%) translateY(-50%); */
            color: rgb(8, 8, 8);
            font-size: 16px;
            font-size: 4vw;
            letter-spacing: 2px;
        }
    </style>
    <script>
        $(document).ready(function(){

            // tabs
            $('.tabs').tabs();

            // hide chats
            $('#chart').hide();
            $('#humidityChart').hide();

            // moisture chart
            var options = {
                chart: {
                    type: 'line'
                },
                series: [{
                    name: 'Moisture',
                    data: [0]
                }],

                xaxis: {
                    labels: {
                        show: false
                    },
                    // // categories: ["sd"],
                    // labels: {
                    //     formatter: function (value, timestamp) {

                    //         var m = new Date().getMinutes();
                    //         var s = new Date().getSeconds();

                    //         m = (m < 10) ? "0" + m : m;
                    //         s = (s < 10) ? "0" + s : s;
                    //         var time = m + ":" + s;
                    //         return time; // The formatter function overrides format property
                    //     },
                    // }
                },
                // labels: ['Apples', 'Oranges', 'Berries', 'Grapes', 'Banana', "abc"],
            }
            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();

            // humidity chart
            var humidityOptions = {
                chart: {
                    type: 'area'
                },
                series: [{
                    name: 'Humidity',
                    data: [0]
                }],
                xaxis: {
                    labels: {
                        show: false,
                    }
                },
            }
            var humidityChart = new ApexCharts(document.querySelector("#humidityChart"), humidityOptions);
            humidityChart.render();

             // temperature chart
             var temperatureOptions = {
                chart: {
                    type: 'area'
                },
                series: [{
                    name: 'Temperature',
                    data: [0]
                }],
                xaxis: {
                    labels: {
                        show: false,
                    }
                },
            }
            var temperatureChart = new ApexCharts(document.querySelector("#temperatureChart"), temperatureOptions);
            temperatureChart.render();



            // clock
            function showTime(){
                var date = new Date();
                var h = date.getHours(); // 0 - 23
                var m = date.getMinutes(); // 0 - 59
                var s = date.getSeconds(); // 0 - 59
                var session = "AM";
                
                if(h == 0){
                    h = 12;
                }
                
                if(h > 12){
                    h = h - 12;
                    session = "PM";
                }
                
                h = (h < 10) ? "0" + h : h;
                m = (m < 10) ? "0" + m : m;
                s = (s < 10) ? "0" + s : s;
                
                var time = h + ":" + m + ":" + s + " " + session;
                document.getElementById("MyClockDisplay").innerText = time;
                document.getElementById("MyClockDisplay").textContent = time;
                
                setTimeout(showTime, 1000);
                
            }
            showTime();

            var moisArray = [];
            function pollMoistureData(firstTime = false) {
                $.ajax({
                    url:'/poll-moisture-data',
                    type:'get',
                    // dataType : "json",
                    success:function(result){
                        if (firstTime) {
                            $('#chart').show();
                        }
                        var data = result;
                        console.log(data['results']);
                        for (var i = data['results'].length - 1; i > 0; i--) {
                            moisData = data['results'][i]['mois'];
                            moisArray.push(moisData);
                        } 
                        chart.updateSeries([{
                            data: moisArray
                        }])
                        // chart.appendData([{
                        //     data: moisArray
                        // }])

                        console.log("moisture polling ...");
                    },
                    error:function(err){
                        console.log(err);
                    }
                });
                moisArray = []
            }
            pollMoistureData(true);
            setInterval(function(){ pollMoistureData(); }, 3000);


            var humiArray = [];
            function pollHumidityData(firstTime = false) {
                $.ajax({
                    url:'/poll-humidity-data',
                    type:'get',
                    // dataType : "json",
                    success:function(result){
                        if (firstTime) {
                            $('#humidityChart').show();
                        }
                        var data = result;
                        console.log(data['results']);
                        for (var i = data['results'].length - 1; i > 0; i--) { 
                            humiData = data['results'][i]['humi'];
                            humiArray.push(humiData);
                        } 
     
                        // .appendData([{
                        //     data: humiArray
                        // }])
                        humidityChart.updateSeries([{
                            data: humiArray
                        }])

                        console.log("humidity polling ...");
                    },
                    error:function(err){
                        console.log(err);
                    }
                });
                humiArray = []
            }
            pollHumidityData(true);
            setInterval(function(){ pollHumidityData(); }, 4000);


            var tempArray = [];
            function pollTemperatureData(firstTime = false) {
                $.ajax({
                    url:'/poll-temperature-data',
                    type:'get',
                    // dataType : "json",
                    success:function(result){
                        if (firstTime) {
                            $('#temperatureChart').show();
                        }
                        var data = result;
                        console.log(data['results']);

                        for (var i = data['results'].length - 1; i > 0; i--) { 
                            tempData = data['results'][i]['temp'];
                            tempArray.push(tempData);
                        }
                        // for (var key in data['results']) {
                        //     tempData = data['results'][key]['temp'];
                        //     tempArray.push(tempData);
                        // } 
     
                        // temperatureChart.appendData([{
                        //     data: tempArray
                        // }])
                        temperatureChart.updateSeries([{
                            data: tempArray,
                        }])

                        console.log("temperature polling ...");
                    },
                    error:function(err){
                        console.log(err);
                    }
                });
                tempArray = []
            }
            pollTemperatureData(true);
            setInterval(function(){ pollTemperatureData(); }, 5000);




        });
    </script>
</body>
</html>
