<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
    <% include ../partials/nav %>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h2 class="header center white-text">Smart Watering System <br> With Arduino</h2>
                <div class="row center">
                    <h5 class="header col s12 light">Provides real-time montoring to your plants</h5>
                </div>
                <div class="row center">
                    <a href="#features" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="bg-2.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section" id="features">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">opacity</i></h2>
                        <h5 class="center">Water Saving</h5>

                        <p class="light">Our system will automatically water the plants when the soil moisture content is low. The volume of water is fitting. Avoid waste, action now</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">remove_red_eye</i></h2>
                        <h5 class="center">Real-time Monitoring</h5>

                        <p class="light">By utilizing the system, you will able to detect the temperature, moisture, water content immediately.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Easy to work with</h5>

                        <p class="light">We have provided multiple sensors (e.g. soil moisture sensor, temperature sensor) for you to get the information about plant, you can also customize your features by adding sensors and make it more powerful</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 black"> Be <strong>SMARTER</strong>, comes with more customizations from you</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="bg-0.jpg" class="img-opacity"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>How does it work</h4>
                    <p class="left-align light">The system kit provides a real-time plant monitoring with multiple components available. The kit includes a moisture sensor, water pump, pH sensor and temperature sensor. When the moisture sensor detects the humidity of soil is lower, the Arduino circuit board will send a command to turn on the pump and suck water to the plants. Meanwhile, the humidity of soli goes to a high level, the pump will be closed then. There is an option to add a RTC to control watering timing and a LED screen to display the status of soil moisture and more. The temperature sensor used to determine the watering timing, to illustrate, the temperature in summer will be much higher, so that the timing can be a little bit longer than other seasons. The data recorded from sensors will be expected to store into a database, afterwards, a web or mobile application will be developed to retrieve all records. Therefore, the user will be able to know the latest information about the plants through any network connected devices in a quicker way than previous. </p>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 black">All in one package with Arduino</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="bg-5.jpg" class="img-opacity"></div>
    </div>

    <% include ../partials/footer %>
</body>
</html>
