
<% include ../partials/head %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body class="grey lighten-3">
    <% include ../partials/nav %>
    <div class="container">
        <% include ../partials/dashboard_sidebar %>
        
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <!-- <img class="activator" src="images/office.jpg"> -->
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Water switch<i class="material-icons right">more_vert</i></span>
                <% if(results[0].status ==0) { %>
                    <p>The water pump is currently closed, would you like to turn it ON</p>
                <% } else { %>
                    <p>The water pump is currently opened, would you like to turn it OFF</p>
                    <% }%>
                <!-- Switch -->
                <form action="/control" method="POST">
                    <div class="switch">
                        <label>
                        Off
                        <input type="checkbox"  name="water" <%- results[0].status ==0 ?'' : 'checked' %>>
                        <span class="lever"></span>
                        On
                        </label>
                    </div><br>
                    <button class="btn waves-effect waves-light btn-small" type="submit" name="action">Confirm
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Scan to control water pump<i class="material-icons right">close</i></span>
                <p>
                    <div id="qrcode"></div> 
                    <input hidden id="status" value="<%= results[0].status %>">
                </p>
            </div>
        </div>
        <div style="height: 100px;"></div>
        <div style="height: 100px;"></div>
    </div>

    <% include ../partials/footer %>
        


    <style>

    </style>
   
    <script>
        $(document).ready(function(){
            var status = $('#status').val();
            console.log(status);
            var base_url = window.location.origin;
            var qrcode = new QRCode(document.getElementById("qrcode"), {
                text: base_url +"/control-switch?water="+status,
                width: 108,
                height: 108,
                colorDark : "#000000",
                colorLight : "#ffffff",
                correctLevel : QRCode.CorrectLevel.H
            });
         
        });
    </script>

</body>
</html>
